// @author Marenin Alexander
// June 2013

Msg
	Hdr(
        SID=SID,
        Req=Req,
        From=From,
        To=To,
        Cmd=Cmd
    )
	Bdy(
        Cln=Cln,
        Inst=Inst,
        Vr=Vr,
        Ext=Ext,
        Pn=Pn,
		SP=SP,
        FNm=FNm,
        LNm=LNm,
        EMl=EMl,
        Edtn=Edtn,
        CnTp=CnTp,
		OSVr=OSVr,
        OSBld=OSBld,
        AgnLb=AgnLb,
        Cntry=Cntry,
        LngAgn=LngAgn,
        LngSys=LngSys,
        SkSch=SkSch,
		SkNm=SkNm,
        PC=PC,
        Cntr=Cntr,
        Area=Area,
        OSUsr=OSUsr,
        OSDom=OSDom
    )